{% extends "::layout.html.twig" %}

{% block title %}
  Agenda - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Évènements</h1>

  <hr>

  {% block esagenda_body %}
  {% endblock %}

{% endblock %}