{% extends "::layout.html.twig" %}

{% block title %}
  {{ "Agenda"|trans }} - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>{{ 'Évènements'|trans }}</h1>

  <hr>

  {% block esagenda_body %}
  {% endblock %}

{% endblock %}