{% extends "::layout.html.twig" %}

{% block title %}
  Annonces - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Annonces</h1>

  <hr>

  {% block esplatform_body %}
  {% endblock %}

{% endblock %}