{% extends "ESFileBundle::layout.html.twig" %}

{% block body %}

	{% if directory is empty %}
		<h2>Ajouter un fichier</h2>
	{% else %}
		<h2>Ajouter un fichier dans le dossier {{ directory.name }}</h2>
	{% endif %}
	{{ include("ESFileBundle:File:form.html.twig") }}

{% endblock %}