{% extends "ESFileBundle::layout.html.twig" %}

{% block title %}
  {{ 'Renomer'|trans }} - {{ parent() }}
{% endblock %}

{% block esfile_body %}

  <h2>{{ 'Renomer un fichier'|trans }}</h2>

  {{ include("ESFileBundle:File:form.html.twig") }}

{% endblock %}