{% extends "ESFileBundle::layout.html.twig" %}

{% block title %}
  Renomer - {{ parent() }}
{% endblock %}

{% block esfile_body %}

  <h2>Renomer un fichier</h2>

  {{ include("ESFileBundle:File:form.html.twig") }}

{% endblock %}