{% extends "::layout.html.twig" %}

{% block title %}
 {{ 'Fichiers'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>{{ 'Gestionnaire de Fichiers'|trans }}</h1>

  <hr>

  {% block esfile_body %}
  {% endblock %}

{% endblock %}